body {
    font-size: 87.5%;
    background: #fff;
    text-align: left;
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
}

.general {
    min-width: 760px;
    max-width: 80em;
    margin: 0 auto;
    padding: 10px;
}

header {
    background: #444;
    color: #ccc;
    padding: 1.5em;
}

    header h1 {
        color: #fff;
        font-family: "Droid Sans", Arial, Helvetica, sans-serif;
        font-size: 342.85714%;
        line-height: 0.875em;  
        margin: 0 0 0.4375em 0;
    }

.nav {
    background: #222222;
}

.list-links {
    width: 100%;
    overflow: hidden;
    position: relative;
    line-height: 1em;
    background: #222;
}

    .list-links ul {
        margin: 0;
        padding: 0.5em 1.5em;
        float: left;
    }

        .list-links ul li {
            float: left;
            font-size: 1.0em;
            line-height: 1;
            list-style-type: none;
            margin: 0 .25em 0 0;
            padding: 0;
        }

            .list-links ul li.active {
                background: #666;
                background: rgba(255, 255, 255, 0.3);
                border-radius: 0.2em;
                color: #fff;
            }

            .list-links ul li a, .list-links ul li strong {
                display: block;
                font-size: 1em;
                line-height: 2em;
                padding: 0 0.5em;
                font-weight: normal;
                text-decoration: none;
                width: auto;
                color: #fff;
            }

        .list-links ul li {
            float: left;
            font-size: 1.0em;
            line-height: 1;
            list-style-type: none;
            margin: 0 .25em 0 0;
            padding: 0;
        }

.searchform {
    float: right;
    line-height: 2;
    padding: 0.5em 1.5em;
    margin: 0;
}

    .searchform .searchfield {
        background: #fff;
        line-height: 1;
        padding: 0.5em;
        width: 12em;
        border: solid 1px rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    .searchform .searchbutton {
        background: rgba(255, 255, 255, 0.2);
        border-radius: .2em;
        color: #fff;
        font-size: 1em;
        line-height: 1.25;
        padding: 0.25em;
        border: solid 1px transparent;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }

.main-box {
    padding: 1.5em 0 0 0;
    overflow: hidden;
    padding-right: 340px;
    width: auto;
}

.article-box {
    float: left;
    width: 100%;
}

.box {
    background: #f4f4f4;
    border-radius: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-color: #888;
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: #444;
    color: rgba(0, 0, 0, 0.8);
    padding: 1.42857em;
    margin: 0 0 1.5em 0;
}

h2 {
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    font-size: 228.57143%;
    line-height: 1.3125;
    margin: 0 0 0.65625em 0;
}

p {
    line-height: 1.5;
    margin: 0 0 1.5em 0;
}

.button {
    display: inline-block;
    border: 1px solid #777;
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #333 !important;
    font: normal 1em/2em Arial, Helvetica;
    margin: 0 0.75em 0 0;
    padding: 0 1.5em;
    overflow: hidden;
    text-decoration: none !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

    .form button:before, .button:before {
        content: "\279C";
        background: rgba(0, 0, 0, 0.1);
        float: left;
        width: 1em;
        text-align: center;
        font-size: 1.5em;
        margin: 0 1em 0 -1em;
        padding: 0 .2em;
        box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
        border-radius: .15em 0 0 .15em;
    }

.left-position {
    float: left;
    margin: 0;
    width: 50%;
}

.right-position {
    float: right;
    margin: 0 0 0 -5px;
    width: 50%;
}

.text-box {
    padding: 0 1.5em 0 0;
}

h3 {
    font-size: 171.42857%;
    line-height: 0.875;
    margin: 0 0 0.875em 0;
}

.sidebar-box {
    position: relative;
    float: left;
    width: 340px;
    margin-left: 0;
    margin-right: -340px;
}

    .sidebar-box .cbox {
        padding: 0 20px 0 12px;
    }

h2 {
    font-size: 228.57143%;
    line-height: 1.3125;
    margin: 0 0 0.65625em 0;
}

h4 {
    display: inline-block;
    font-size: 150%;
    line-height: 1;
    margin: 0 0 1em 0;
}

.contain {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.img {
    float: left;
    margin: 0 1em 1.5em 0;
}

footer {
    margin: 0;
    background: #eee;
    color: #444;
    padding: 1.5em;
}

    footer p {
        margin: 0;
    }

a {
    color: #4d87c7;
    text-decoration: none;
}