<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Styles/IndexStyle.css">
    <title>Hotel Service</title>
</head>
<body>

    <div class="general">
        <header>
            <h1>Hotel service</h1>
        </header>
        <div class="nav">
            <div class="list-links">
                <ul>
                    <li class="active">
                        <strong></strong>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
                <form class="searchform">
                    <input class="searchfield" type="search" placeholder="Search..." />
                    <input class="searchbutton" type="submit" value="Search" />
                </form>
            </div>
        </div>
        <main>
            <div class="main-box">
                <div class="article-box">
                    <div class="text-box">
                        <h3>Hotel List</h3>
                        <p>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseHotel" aria-expanded="false" aria-controls="collapseExample">
                                First hotel
                            </button>
                        </p>
                        <div class="collapse" id="collapseHotel">
                            <div class="card card-body">
                                Hotel information
                            </div>
                        </div>
                    </div></div>
            </div>
        </main>
        
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/Hotel/hotel_page.js"></script>
</body>

</html>