body {
    font-size: 100%;
    background: #fff;
    text-align: left;
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
}

.ym-wrapper {
    min-width: 760px;
    max-width: 80em;
    margin: 0 auto;
}

.ym-wbox {
    padding: 10px;
}
header {
    background: #444;
    color: #ccc;
    padding: 1.5em;
}

    header h1 {
        background: transparent;
        color: #fff;
    }

nav {
    background: #222222;
}
.ym-hlist {
    width: 100%;
    overflow: hidden;
    position: relative;
    line-height: 1em;
    background: #222;
}
